<nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
          <span class="icon-bar"></span>  
          <span class="icon-bar"></span> 
          <span class="icon-bar"></span>     
          <span class="icon-bar"></span> 
          <span class="icon-bar"></span>                    
        </button>
        <a class="navbar-brand" href="#">CV Web APP</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li id="p_list"><a href="/">PROFILE</a></li>
          <li id="e_list"><a href="/education">EDUCATION</a></li>
          <li id="w_list"><a href="/work">WORK</a></li>
          <li id="e_list"><a href="/activity">Extra Activities</a></li>
          <li id="r_list"><a href="/research">RESEARCH</a></li>
          <li id="l_list"><a href="/language">LANGUAGES</a></li>
          <li id="ref_list"><a href="/reference">REFERENCES</a></li>  
          <li id="cv_view"><a href="/view">VIEW CV</a></li>  
        </ul>
      </div>
    </div>
  </nav>
  