<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
</head>
<style>
     table,th,tr,td{
		  border-collapse: collapse;
		  border: 1px solid #d3d3d3;
	  }
</style>

<body>
    <% include partials/menu %>
        <div class="container-fluid bg-3 text-center">
            <h3>
                <%= page %>
            </h3><br>
            <div class="row" >
             
                <form action="create" method="POST" >
                    <table class='table table-striped table-responsive-md btm-table'>
                        <tr>
                            <th>Work Exprience ID : </th>
                            <td><input type="number" name="wexperienceid" placeholder="weperienceid" required></td>
                        </tr>
                        <tr>
                            <th>Company Name : </th>
                            <td><input type="text" name="companyname" placeholder="company name" required></td>
                        </tr>
                        <tr>
                            <th>Designation : </th>
                            <td><input type="text" name="designation" placeholder="designation" required></td>
                        </tr>
                        <tr>
                            <th>Start Date : </th>
                            <td><input type="date" name="start_date" placeholder="start date" required></td>
                        </tr>
                        <tr>
                            <th>End date : </th>
                            <td><input type="date" name="end_date" placeholder="end date" required></td>
                        </tr>
                        <tr>
                            <th>Responsibilities : </th>
                            <td><input type="text" name="responsibilities" placeholder="responsibilities" required></td>
                        </tr>
                        <tr>
                            <th>Profile ID : </th>
                            <td><input type="number" name="profileid" placeholder="profile id"   required></td>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="submit" value="SAVE" ></td>
                        </tr>
                    </table>
                </form>



            </div>
        </div>

</body>
<% include partials/script %>

</html>